.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 113px;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 573px;
    height: 789px;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    object-fit: contain;
    object-position: top;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel__nav {
    position: absolute;
    left: -110px;

    & button {
        background-color: initial;
        border: none;
        color: #9A886C;
        height: 30px;
        width: 43px;
        font-size: 30px;
        font-weight: bold;
    }
}

.left-arrow:hover,
.right-arrow:hover {
    cursor: pointer;
    opacity: 0.8;
}