.header {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 28px 60px 0px 60px;
    
    img {
        width: 314px;
        height: 108px;
        position: relative;
        top: -15px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: #fff 1px solid;
    div{
        p:first-child {
            color: #D1D1D1;
            font-weight: 200;
            font-size: 29px;
            line-height: 35px;
            letter-spacing: 0.045em;
            margin: 0px 0px 15px 0px;
        }

        p {
            font-weight: 700;
            font-size: 36px;
            line-height: 43.2px;
            margin: 0 45px 0 0;
        }
    }
}

.navigation {
    padding: 32px 100px 0 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.22px;
    letter-spacing: 0.045em;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-between;
    }

    a:after {
        background-color: #fff;
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }

    a:hover:after,
    a:hover:before {
        width: 100%;
    }

    li :hover {
        cursor: pointer;
    }
}

.header__contacts {
    display: flex;
    height: 54px;
    align-self: flex-end; 
}

.header__button_sn {
    width: 43px;
    height: 43px;
    margin: 0 18px 0 0;
    background-position: center;
    background-size: cover;
    background-color: unset;
    padding: 0;
    border: none; 
}
  
.header__button_sn:hover {
    cursor: pointer;
    opacity: 0.6; 
}

.header__button {
    width: 312px;
    height: 54px;
    justify-self: center;
    background-image: url(../../images/btn_bg.svg);
    border: none;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #424242; 
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.8; 
}
  
.header__button::after {
    display: block;
    content: "";
    border-bottom: 2px #424242 solid;
    width: 86%;
    position: relative;
    left: 7%; 
}