@font-face {
    font-family: 'Panton';
    src: url('./fonts/Panton-SemiBold.eot');
    src: local('Panton SemiBold'), local('Panton-SemiBold'),
        url('./fonts/Panton-SemiBold.woff2') format('woff2'),
        url('./fonts/Panton-SemiBold.woff') format('woff'),
        url('./fonts/Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('./fonts/Panton-Bold.eot');
    src: local('Panton Bold'), local('Panton-Bold'),
        url('./fonts/Panton-Bold.woff2') format('woff2'),
        url('./fonts/Panton-Bold.woff') format('woff'),
        url('./fonts/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('./fonts/Panton-Regular.eot');
    src: local('Panton'), local('Panton-Regular'),
        url('./fonts/Panton-Regular.woff2') format('woff2'),
        url('./fonts/Panton-Regular.woff') format('woff'),
        url('./fonts/Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('./fonts/Panton-ExtraLight.eot');
    src: local('Panton ExtraLight'), local('Panton-ExtraLight'),
        url('./fonts/Panton-ExtraLight.woff2') format('woff2'),
        url('./fonts/Panton-ExtraLight.woff') format('woff'),
        url('./fonts/Panton-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #F5F5F5;
    font-family: 'Panton';
}

.container {
    margin: 0 405px;
}

.catering {
    margin-top: 326px;
    display: flex;
    flex-direction: column;
    width: 794px;
    padding: 111px 69px 0 0;
}

.container__rectangle {
    width: 1204px;
    height: 1118px;
    background-color: #26292C;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0
}

.container__blur {
    width: 863px;
    height: 408px;
    position: absolute;
    backdrop-filter: blur(4px);
    background: rgba(38, 41, 44, 0.5);
    z-index: -1;
}

.container__bg {
    position: absolute;
    width: 1515px;
    height: 943px;
    top: 0;
    left: 405px;
    z-index: -2;
    filter: brightness(0.5);
}

.container__title {
    font-weight: 400;
    font-size: 99px;
    line-height: 84%;
    letter-spacing: 0.125em;
    margin: 0 0 17px 0;
}

.container__discription {
    font-weight: 300;
    font-size: 29px;
    line-height: 100.5%;
    text-align: right;
    letter-spacing: 0.045em;
    width: 470px;
    align-self: flex-end;
}

.container__button {
    & p {
        width: 669px;
        height: 36px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #424242;
        border-bottom: 2px solid;
    }
    width: 776px;
    position: relative;
    right: -174px;
    top: 20px;
    height: 81px;
    text-transform: uppercase;
    background-image: url(./images/btn_bg.svg);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
    border-radius: 5px;
}



.stocksList {
    margin-top: 228px;
    display: flex;
    column-gap: 25px;
}

.stock {
    width: 355px;
    height: 606px;

    & img {
        filter: brightness(0.6);
        position: absolute;
        z-index: -1;
    }

    & div {
        margin: 25px;
        border: 1px solid #fff;
        height: 91%;
        display: flex;
    }

    & h4 {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        align-self: flex-end;
        margin: 0 0 8px 13px;
        width: 75%;
    }
}

.stock:first-of-type {
    position: relative;
    top: 110px;
}

.stock:last-of-type {
    position: relative;
    top: -110px;
}



.about {
    background-color: #26292C;
    margin-top: 197px;
    padding-top: 167px;
    padding-bottom: 347px;
}

.about__container {
    display: grid;
    grid-template-areas: ". . descrip" ". . descrip";
    grid-template-columns: repeat(2, 274px) 463px;
    grid-template-rows: repeat(2, minmax(80px, 298px));
    row-gap: 28px;
    column-gap: 46px;
}

.advantages {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 274px;
    height: 297px;
}

.advantages__container {
    height: 92%;
    margin: 7px 6px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        margin: 16px auto;
    }

    & h4 {
        font-weight: 800;
        font-size: 20px;
        line-height: 101%;
        margin-block: 0;
        letter-spacing: 0.045em;
    }

    & p {
        margin: 12px auto 31px;
        font-weight: 400;
        font-size: 17px;
        width: 208px;
        line-height: 105%;
    }
}

.advantages__text {
    text-align: center;
}

.abbout__description {
    grid-area: descrip;
}

.about__title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 101%;
    text-align: right;
    letter-spacing: 0.045em;
    width: 451px;
    height: 80px;
    margin: 23px 0 33px 0;
}

.about__text {
    grid-area: text;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    letter-spacing: 0.045em;
}




.carousel {
    background-color: #465562;
    display: flex;
    height: 946px;
    position: relative;
    top: -225px;
}



.form__container {
    display: grid;
    grid-template-areas: "title title" ". ." ". ." ". ." ". ." " button button";
    grid-template-columns: repeat(2, 540px);
    grid-template-rows: 100px repeat(4, 65px) 81px;
    column-gap: 30px;
    row-gap: 25px;

    & input {
        background-color: #26292C;
        border: none;
        border-radius: 5px;
        color: #888888;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.045em;
        padding: 13px 35px 23px 38px;
    }
}

.form__title {
    grid-area: title;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.045em;
    width: 800px;
    color: #26292C;
    justify-self: center;
    margin: 0;
    position: relative;
    top: -30px;
}

.form__button {
    grid-area: button;
    width: 550px;
    height: 81px;
    justify-self: center;
    position: relative;
    top: 43px;
    background-image: url(./images/btn_bg.svg);
    border: none;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #424242;
    text-transform: uppercase;
}

.form__button:after {
    display: block;
    content: "";
    border-bottom: 2px #424242 solid;
    width: 38%;
    position: relative;
    left: 31%;
}




.galery {
    background-color: #26292C;
    margin-top: 140px;
    padding: 141px 110px 133px 132px;

    & p {
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.045em;
        margin-bottom: 67px;
    }
}

.galery__grid {
    display: grid;
    gap: 40px 31px;
    justify-items: center;
    grid-template-rows: 255px;

    & img {
        z-index: 1;
    }
}

.a {
    grid-column: 1/2;
    grid-row: 1/2;
}

.b {
    grid-column: 2/3;
    grid-row: 1/3;
}

.c {
    grid-column: 3/5;
    grid-row:  1/2;
    justify-self: flex-start;
}

.d {
    grid-column: 4/6;
    grid-row: 1/2;
    justify-self: end;
}

.e {
    grid-column: 1/2;
    grid-row: 2/3;
}

.g {
    grid-column: 5;
    grid-row: 2/4;
    align-self: end;
}

.h {
    grid-column: 1;
    grid-row: 3/4;
}

.f {
    grid-column: 3/5;
    grid-row: 2;
    align-self: flex-end;
}

.i {
    grid-column: 2;
    grid-row: 2/4;
    align-self: flex-end;
}



.review__title {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    padding-top: 309px;
    margin-left: 219px;
}

.review__bg {
    background-color: #465562;
    width: 1515px;
    height: 658px;
    position: relative;
    top: -245px;
}

.review__container{
    display: flex;
    margin: 67px 0 0 56px;
}

.review__text {
    width: 607px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.045em;
    margin: 0 56px 0 0;
}

.review__button {
    width: 443px;
    height: 81px;
    justify-self: center;
    background-image: url(./images/btn_bg.svg);
    border: none;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #424242;
    text-transform: uppercase;
}

.review__button:after {
    display: block;
    content: "";
    border-bottom: 2px #424242 solid;
    width: 70%;
    position: relative;
    left: 15%;
}




.feedback__text {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #000000;
    margin: 0;
}

.feedback__form {
    margin-top: 98px;
    display: grid;
    grid-template-areas:
        ". . ."
        "button button button";
    gap: 48px 20px;
    padding-bottom: 152px;

    & input {
        background-color: #26292C;
        border: none;
        border-radius: 5px;
        color: #888888;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.045em;
        padding: 13px 35px 23px 38px;
    }
}

.feedback__button {
    grid-area: button;
    width: 550px;
    height: 81px;
    justify-self: center;
    background-image: url(./images/btn_bg.svg);
    border: none;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #424242;
    text-transform: uppercase;
}

.feedback__button:after {
    display: block;
    content: "";
    border-bottom: 2px #424242 solid;
    width: 36%;
    position: relative;
    left: 32%;
}



.footer {
    background-color: #26292C;
    padding: 84px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.09em;
    color: #BCBCBC;
}

.footer__nav {
    display: flex;
    border-left: 1px #A78466 solid;
}

.footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer__contacts {
    border-left: 1px #A78466 solid;
    padding-left: 89px;
    align-items: end;
    justify-content: end;
    display: flex;
    flex-direction: column;
}

.footer__adress {
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    margin: 0 0 15px 0;
}

.footer__phone {
    font-weight: 600;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 0;
}